fieldset {
     width: 500px;
     height: 300px;
     border:#ADD8E6 solid;
}
form {
     margin: 20px 50px 0 35px
}
table {
     border-collapse:separate;
     border-spacing:15px 15px;
}
label {
     color: white;
     text-align: center
}
input {
     line-height: 32px;
     border-color:rgb(81, 181, 206);
     color: black;
     padding: 5px 5px
}
select {
     line-height: 32px;
     width: 184px;
     border-color: rgb(81, 181, 206);
     color: black;
     padding: 10px 10px
}
.name {
     background-color: rgb(66, 144, 201);
     text-align: center;
     padding: 5px 5px
}
.password {
     background-color: rgb(66, 144, 201);
     text-align: center;
     padding: 5px 5px
}
.gender {
     color: black;
     text-align: center;
}

